.background {
    background-color: #272727;
    position: relative;
    z-index: 20;
}

.container {
    max-width: 1920px;
    padding: 0 150px;
    margin: 0 auto;
}

.navbar {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.headNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
}

.form {
    max-width: 348px;
    max-height: 40px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.input {
    min-width: 100%;
    padding: 5px 10px;
    border: none;
    border-radius: 4px 0 0 4px;
    background-color: #565655;
    color: #fff;
}

.input::placeholder {
    color: #fff;
    font-family: var(--font-family);
}

.button {
    padding: 4px 10px;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: #FEED00;
    cursor: pointer;
}

.logo img {
    position: relative;
    max-width: 254px;
    max-height: 76px;
    bottom: 10px;
}

.headContacts {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.headContacts a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #fff;
}

.headContacts a:hover {
    color: #FEED00;
    transition: 0.3s;
}

.icon {
    fill: #fff;
}

.headContacts a:hover .icon {
    fill: #FEED00;
    transition: 0.3s;
}