.background {
    background-color: #565655;
    height: 50px;
    position: relative;
    z-index: 10;
}

.container {
    max-width: 1920px;
    padding: 0 150px;
    margin: 0 auto;
}

.navLinks {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navLinks a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;
}

.navLinks a:hover {
    background-color: #FEED00;
    color: black;
    transition: 0.3s;
}